
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f8f9fa;
    color: #333;
}

/* Header */
.site-header {
    background: #2c3e50;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header h1 {
    margin: 0;
}

.site-header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.site-header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.site-header nav a.active {
    text-decoration: underline;
}

/* Профил */
.container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 0 20px;
}

.user-card {
    text-align: center;
    margin-bottom: 40px;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.avatar {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #007bff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}
.profile-status-role-container .active{
    backdrop-filter: blur(8px);
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    background-color: #e0f7e9;
    color: #2e7d32;
    border: 1px solid rgba(84, 227, 54, 0.6);
    box-shadow: 0 4px 8px rgba(0, 153, 51, 0.15);
}
.profile-status-role-container .inactive-profile {
    background-color: #fbe9e7;
    color: #c62828;  letter-spacing: 0.03em;
    border: 1px solid rgba(255, 103, 103, 0.6);
    box-shadow: 0 4px 8px rgba(255, 103, 103, 0.2);
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #2c3e50;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.3s;
}

.btn:hover {
    background: #0056b3;
}


.favorites-section h2 {
    margin-bottom: 20px;
    text-align: center;
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.book-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.book-card:hover {
    transform: translateY(-5px);
}


.site-footer {
    background: #343a40;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

